.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div.small {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  font-family: Rust;
  letter-spacing: 2.0px;
  line-height: 11.2em;
  font-size: 25px;
  width: 640px;
  height: 160px;
  font-weight: bold;
}

div.small > div {
  position: absolute;
  top:0;
  left:0;
  font-family: Rust;
  width: 640px;
  height: 160px;
}

div.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  font-family: Rust;
  letter-spacing: 2.0px;
  line-height: 2.0em;
  font-size: 80px;
  width: 640px;
  height: 160px;
  font-weight: bold;
  transform: rotate(-90deg);
}

div.container > div {
  position: absolute;
  top:0;
  left:0;
  font-family: Rust;
  width: 640px;
  height: 160px;
}

div.shadow {
  color: #ffffff00;
  text-shadow: 0 0 .3em #000000;
}
div.text {
  color: #ffffff88;
  -webkit-background-clip: text;
  font-family: Rust;
}

@font-face {
  font-family: Rust;
  src: url('Rust.ttf') format('truetype');
}